@page "/"

@using RateAndReview.Components.UI
@using RateAndReview.Utilities
@using RateAndReview.Models
@using RateAndReview.Services

@inject MongoDBService MongoDBService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<PageTitle>Home</PageTitle>

<div class="pageContainer">
    <div class="inBetween1">
    </div>

    <div class="carouselParentContainer">
        <div id="@carouselName" class="carousel slide carouselContainer" data-bs-ride="carousel" data-bs-wrap="true" data-bs-interval="9000" data-bs-pause="false">
            <div class="carousel-indicators">
                @for (var i = 0; i < Constants.Shows.Count; i++)
                {
                    var activeClass = i == 0 ? "active" : "";
                    <button type="button" data-bs-target="#@carouselName" data-bs-slide-to="@i" class="@activeClass" aria-current="true" aria-label="Slide @i"></button>
                }
            </div>
            <div class="carousel-inner">
                @foreach (var show in Constants.Shows)
                {
                    var activeClass = show == Constants.Shows.First() ? "active" : "";
                    <div class="carousel-item @activeClass">
                        <NavLink class="nav-link" href="@("/show/" + @show.Id)">
                            <div class="carouselImageCointainer">
                                <img src="@show.Image" class="carouselImage" alt="@show.Name">
                                <div class="carouselInfo">
                                    <div class="carouselInfoName">
                                        @show.Name
                                    </div>
                                    <div class="carouselInfoEx">
                                        @show.Type
                                        &nbsp;&nbsp;&nbsp;
                                        @show.ReleaseDate
                                        -
                                        @if (show.EndDate != null)
                                        {
                                            @show.EndDate
                                        } else
                                        {
                                            <div>
                                                &nbsp;&#x2022;
                                            </div>
                                        }
                                    </div>
                                    <div>
                                        @show.Description
                                    </div>
                                </div>
                            </div>
                        </NavLink>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#@carouselName" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#@carouselName" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="inBetween1">
    </div>

    @* <div class="initShowsDisplay">
        <div class="initContainer">
            @foreach (var show in Constants.Shows)
            {
                <div class="initShowContainer">
                    <img src="@show.Image" alt="@show.Name image" class="initShowImage" />
                    <div class="initShowName">
                        <p>@show.Name </p>
                    </div>
                </div>
            } 

            @foreach (var show in Constants.Shows)
            {
                <div class="initShowContainer">
                    <img src="@show.Image" alt="@show.Name image" class="initShowImage" />
                    <div class="initShowName">
                        <p>@show.Name </p>
                    </div>
                </div>
            }

            @foreach (var show in Constants.Shows)
            {
                <div class="initShowContainer">
                    <img src="@show.Image" alt="@show.Name image" class="initShowImage" />
                    <div class="initShowName">
                        <p>@show.Name </p>
                    </div>
                </div>
            }
        </div>
    </div> *@
    
    @* <div class="test1">
        <img src="@Constants.Shows[0].Image" alt="@Constants.Shows[0].Name image" class="initShowImage" />
    </div> *@

    <div class="inBetween1">
    </div>

    <div class="topRatedContainer">
        <div class="topShowsContainer">
            <div class="topRatedTitle">
                Most Rated Shows
            </div>

            @if (Most10RatedShows != null)
            {
                @foreach (var show in Most10RatedShows)
                {
                    <NavLink class="nav-link" href="@("/show/" + @show.imdbID)">
                        <div class="topMediaItem">
                            <div  class="topMediaItemImageContainer">
                                <img src="@show.mediaPoster" alt="@show.mediaTitle image" class="topMediaItemImage" />
                            </div>
                            <div class="topMediaIteminfoContainer">
                                <div class="topMediaItemInfo">
                                    <div class="topMediaItemTitle">
                                        @show.mediaTitle 
                                    </div>
                                    <div class="topMediaItemDate">
                                        @show.releaseDate
                                        -
                                        @if (show.endDate != null)
                                        {
                                            @show.endDate
                                        }
                                        else
                                        {
                                            <div>
                                                &nbsp;&#x2022;
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="topMediaItemRating">
                                    <div class="topMediaItemRatingStar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f2c84b" class="bi bi-star-fill" viewBox="0 0 16 16" style="margin-right: 10px;">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        @show.rating.ToString("0.0")
                                    </div>
                                    <div class="topMediaItemNumRating">
                                        @show.numberOfReviews user ratings
                                    </div>
                                </div>
                            </div>
                        </div>
                    </NavLink>
                }
            }
            
         
        </div>
        <div class="topMoviesContainer">
            <div class="topRatedTitle">
                Most Rated Movies
            </div>

            @if (Most10RatedShows != null)
            {
                @foreach (var show in Most10RatedMovies)
                {
                    <NavLink class="nav-link" href="@("/show/" + @show.imdbID)">
                        <div class="topMediaItem">
                            <div class="topMediaItemImageContainer">
                                <img src="@show.mediaPoster" alt="@show.mediaTitle image" class="topMediaItemImage" />
                            </div>
                            <div class="topMediaIteminfoContainer">
                                <div class="topMediaItemInfo">
                                    <div class="topMediaItemTitle">
                                        @show.mediaTitle
                                    </div>
                                    <div class="topMediaItemDate">
                                        @show.releaseDate
                                        -
                                        @if (show.endDate != null)
                                        {
                                            @show.endDate
                                        }
                                        else
                                        {
                                            <div>
                                                &nbsp;&#x2022;
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="topMediaItemRating">
                                    <div class="topMediaItemRatingStar">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f2c84b" class="bi bi-star-fill" viewBox="0 0 16 16" style="margin-right: 10px;">
                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                        </svg>
                                        @show.rating.ToString("0.0")
                                    </div>
                                    <div class="topMediaItemNumRating">
                                        @show.numberOfReviews user ratings
                                    </div>

                                </div>
                            </div>
                        </div>
                    </NavLink>
                }
            }
        </div>
    </div>

@*     <div class="streamingServicesTitle">
        Pick a Streaming Service
    </div> *@

    @* <div class="streamingServices">
        <StreamingButton StreamPlatform="Netflix"/>
        <StreamingButton StreamPlatform="DisneyPlus" />
        <StreamingButton StreamPlatform="HboMax" />
        <StreamingButton StreamPlatform="Prime" />
        <StreamingButton StreamPlatform="AppleTV" />
    </div>
 *@
    <div class="inBetween1">
    </div>

    <div class="inBetween1">
    </div>

    <ShowCategory CategoryTitle="Most Popular Movies" ShowsToDisplay=Constants.TopMovies SliderID="6" />

    <div class="inBetween2">
    </div>

    <ShowCategory CategoryTitle="Drama Movies" ShowsToDisplay=Constants.DramaMovies SliderID="5" />

    <div class="inBetween2">
    </div>

    <ShowCategory CategoryTitle="Netflix Most Popular Shows" ShowsToDisplay=Constants.NetflixTopShows SliderID="1" />

    <div class="inBetween2">
    </div>

    <ShowCategory CategoryTitle="Disney+ Most Popular Shows" ShowsToDisplay=Constants.DisneyTopShows SliderID="2" />

    <div class="inBetween2">
    </div>

    <ShowCategory CategoryTitle="Max Most Popular Shows" ShowsToDisplay=Constants.MaxTopShows SliderID="3" />

    <div class="inBetween2">
    </div>

    <div class="inBetween2">
    </div>

    <div class="inBetween2">
    </div>
    <div class="inBetween2">
    </div>
    <div class="inBetween2">
    </div>

    <div class="footer">
        © nicou08 on Github
    </div>

</div>

@code {

    private string carouselName = "FirstMedia";

    public List<Media> Most10RatedShows { get; set; }

    public List<Media> Most10RatedMovies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Most10RatedShows = await MongoDBService.GetTop5ShowsAsync();

        Most10RatedMovies = await MongoDBService.GetTop5MoviesAsync();

        Console.WriteLine("Most10RatedShows: {0}" + Most10RatedShows.Count);

        Console.WriteLine("Most10RatedMovies: {0}" + Most10RatedMovies.Count);
    }
}

<script type="text/javascript">
    function startCarousel(carouselId) {
        var myCarousel = document.getElementById(carouselId);
        var carousel = new bootstrap.Carousel(myCarousel);
        carousel.cycle();  // This will cause the carousel to start immediately
    }

    var carouselName = "@carouselName";
    startCarousel(carouselName);
</script>